/* separateProduct05.css */
.table-container {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  .table-container th, .table-container td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .table-container th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #7ba37b;
    color: white;
  }
  
  .header, .sub-header {
    color: #333;
    margin: 10px 0;
  }
  
  ul {
    list-style-type: disc;
    margin-left: 20px;
  }
  
  .product-container {
    display: flex;
    margin: 20px 0;
  }
  
  .separate-product-img {
    flex: 1;
    text-align: center;
    margin-right: 20px;
  }
  
  .separate-product-img img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd;
    padding: 5px;
  }
  
  .product-details {
    flex: 2;
  }