.separate-product {
    margin-top: 50px;
  }
  .separate-product-main-container{
    width: 80%;
    margin: auto;
  }
  .table-flext{
    display: flex;
  }
  .separate-product-card {
    display: flex;
    gap: 50px;
  }
  .separate-product-img {
    /* width: 600px; */
    /* border: 1px solid red; */
    width: 500px;
  }
  .separate-product-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
  .separate-product-text {
    /* margin-top: 30px; */
    width: 50%;
  }
  .separate-product-text h1 {
    margin-top: 10px;
    font-family: sans-serif;
    font-size: 28px;
  }
  .separate-product-desc {
    margin-top: 15px;
    font-family: sans-serif;
    line-height: 22px;
    letter-spacing: 0.5px;
    color: gray;
  }
  .separate-product-title {
    color: blue;
    font-family: sans-serif;
    font-size: 15px;
  }
  .separate-product-detail {
    padding-top: 50px;
  }
  .detail-text {
    display: flex;
    gap: 50px;
  }
  .detail-text-one {
    width: 50%;
  }
  .detail-text-one li{
     font-size: 17px;
     line-height: 25px;
     letter-spacing: 0.3px;
     color: rgb(30, 30, 30);
     font-family: "Arial", sans-serif;
  }
  .detail-text-one h2 {
    text-align: center;
    background: #E8E8E8;
    border-radius: 8px;
    font-family: "Arial", sans-serif;
    color: #000000;
    border-bottom: 2px solid #ddd;
    /* padding-bottom: 10px; */
    padding: 5px 0px;
    margin-top: 0px;
  }
  .detail-text-one p {
    margin-top: 20px;
    font-family: sans-serif;
    line-height: 22px;
    letter-spacing: 0.5px;
    color: rgb(91, 91, 91);
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  .sroll-table {
    overflow-x: scroll;
  }
  .sroll-table::-webkit-scrollbar {
    display: none;
  }
  
  th {
    background: #E8E8E8;
    color: #333;
    padding: 10px;
    /* text-align: left; */
    border: 2px solid #ddd;
    text-align: center;
    width: 115px;
  }
  
  td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: center;
  }
  
  tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  tbody tr:hover {
    background-color: #f1f1f1;
  }
  
  h2 {
    font-family: "Arial", sans-serif;
    color: #333;
    margin-top: 40px;
    margin-bottom: 20px;
  }
  .detail-text-03{
    width: 100%;
    /* text-align: end; */
  }
  .note-div{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .note{
    /* text-align: center; */
    /* border: 1px solid black; */
    margin-top: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    font-size: 17px;
    font-family: sans-serif;
    width: fit-content;
    background: #e8e8e8;
    padding: 10px 20px;
  }
  
  
  @media (max-width: 850px) {
    .separate-product {
      margin-top: 50px;
    }
    .separate-product-card {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 20px;
    }
    .separate-product-img {
      /* width: 600px; */
      /* border: 1px solid red; */
      width: 100%;
    }
    .separate-product-img img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-radius: 10px;
    }
    .separate-product-text {
      margin-top: 0px;
      width: 100%;
      text-align: center;
    }
    .separate-product-text h1 {
      margin-top: 10px;
      font-family: sans-serif;
      font-size: 22px;
    }
    .separate-product-desc {
      margin-top: 15px;
      font-family: sans-serif;
      line-height: 22px;
      letter-spacing: 0.5px;
      color: gray;
    }
    .separate-product-title {
      color: blue;
      font-family: sans-serif;
      font-size: 15px;
    }
    .separate-product-detail {
      padding-top: 50px;
    }
    .detail-text {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      /* text-align:center; */
      gap: 30px;
      /* justify-content: space-evenly; */
    }
    .line {
      height: 270px;
      border: 1px solid rgb(164, 164, 164);
      display: none;
    }
    .line-2 {
      height: 130px;
      border: 1px solid rgb(164, 164, 164);
    }
    .detail-text-one {
      width: 100%;
    }
    .detail-text-one h2 {
      /* font-family: sans-serif; */
      /* color: orange; */
      text-align: cente;
      font-size: 20px;
      background: #eff7ff;
      font-family: "Arial", sans-serif;
      color: #333;
      border-bottom: 2px solid #ddd;
      margin-top: 0px;
      /* margin-top: 40px; */
      /* margin-bottom: 20px; */
    }
    .detail-text-one p {
      margin-top: 20px;
      font-family: sans-serif;
      line-height: 22px;
      letter-spacing: 0.5px;
      color: rgb(91, 91, 91);
    }
    td {
      padding: 10px;
      border-bottom: 1px solid #ddd;
      text-align: center;
    }
  
    .sroll-table::-webkit-scrollbar {
      display: block;
}
.table-flext{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .detail-text-03{
    width: 100%;
    text-align: start;
    list-style: none;
  }
}